body{
    background-color: rgb(144, 97, 185);
}



.titulo1{
    background-color: rgb(190, 143, 234);
    color: rgb(9, 9, 9);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin:0;
}
.titulo2{
    background-color: rgb(59, 43, 65);
    color: rgb(218, 197, 221);
    font-family: cursive;
    text-align: center;
    margin: 10px;
}
.texto{
    background-color: rgb(160, 141, 164);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    width: 5000px;
    margin: 10px;
    
}
@media screen and (min-width: 768px) {
    .parametro-coluna__senha{
        flex-direction: row;
    }
}